@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: 255 255 255;
  --color-fg: 11 31 58;
}

html,
body {
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-fg));
  font-feature-settings: "ss01", "cv11";
}
